.navbar {
    background-color: #1a1a1a;
    overflow: hidden;
}

.navbar a {
  font-family: var(--font-montserrat);
  float: left;
  font-weight: 600;
  font-size: 17px;
  color: red;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 10em;
  padding-left: 7em;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.nav-link {
  float: right;
}