.about-us-section {
    margin: 0;
    padding: 5rem 10rem;
    background: black;
    border-top: 1px solid #E50815;
    -ms-display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
}

.about-us-text {
    width: 60%;
    padding-right: 2rem;
}

.about-us-text h1 {
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 25px;
    color: #E50815;
}

.about-us-text p {
    font-family: var(--font-montserrat);
    font-size: 16px;
    color: white;
}

.about-us-img {
    width: 40%;
}

.about-us-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}