@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-montserrat: 'Montserrat', sans-serif;
}

.content{
    font-family: var(--font-montserrat);
    color: red;
    background-color: black;
    padding: 2em 10rem;
}

.new-post{
    width: 100%;
    height: 10em;
}

.forum-button{
    background-color: red;
    color: white;
    margin-bottom: 0.5em;
}

.default-text{
    color: white;
}

.post-box {
    border: 1px solid white;
    margin-bottom: 1rem;
    padding: 1rem;
    color: red;
  }

.title{
    display: flex;
}

.forum-delete-icon {
    margin-left: 1rem;
}

.post-content {
    color: white;
}