@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-montserrat: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: auto; 
    overflow-x:hidden;
    overflow-y:scroll;
}

.movie-section {
    margin: 0;
    padding: 5rem 10rem;
    background: black;
}

.movie-row {  
    -ms-display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

.movie-column {
    margin: 15px;
}

.section-title{
    padding-left: 10rem;
    font-size: 2rem;
    padding-top: 2em;
    margin-bottom: -2em;
    background-color: black;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 25px;
    color: #E50815;
}