@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-montserrat: 'Montserrat', sans-serif;
}

.profile {
    display: flex;
    font-family: var(--font-montserrat);
    color: red;
    padding: 2em 10rem;
    background-color: black;
    overflow: hidden;
    flex-direction: column; 
  }
  
  .profile-header {
    display: flex;
    align-items: center; 
  }
  
  .edit-icon {
    margin-left: 2em; 
    margin-bottom: 0.5rem;
    margin-right: -0.5rem;
  }
  
  .profile-info {
    margin-top: 1rem; 
  }